.head_list-phone{
    position: absolute;
    z-index: 10;
    flex-direction: column;
    left: 0;
    top: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.781);
    text-align: center;
    justify-self: center;
    padding: 30px;
    font-size: 2rem;
    letter-spacing: 1px;
    backdrop-filter: blur(15px);
}

@media (min-width:750px) {
    .head_list-phone{
        display: none !important;
    }
    .head_list{
        display: flex !important;
    }
}